# Dependencies
node_modules/
.pnpm-store/

# Environment variables
.env
.env*.local
.env.production
.env.development

# Build & compilation outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Prisma
packages/db/prisma/*.db
packages/db/prisma/*.db-journal

# OS files
.DS_Store
Thumbs.db
